.mb-5{
    margin-bottom: 2rem!important;
    border-bottom: 1px solid #80808029;
}

.newTopicLink{
    border-bottom: 1px solid #00000045;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}