{% if entry.send_by.id == me %}
<div class="mb-1 pt-1 pl-1 pr-2 pb-1 message sent-by-me">
    <p style="font-size: 14px;">{{ entry.text }}</p>
    <p class="small text-right" style="font-style:italic;font-size: 11px;">
        @:{{entry.created_at|date:"d.m.Y H:i" }}
    </p>
</div>
{% else %}
<div class="mb-1 pt-1 pl-1 pr-2 pb-1 message sent-to-me">
    <p style="font-size: 14px;">{{ entry.text }}</p>
    <p class="small text-right" style="font-style:italic;font-size: 11px;">
        at {{entry.created_at|date:"d.m.Y H:i" }}
    </p>
</div>
{% endif %}