{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block middle_frame %}
  <div class="row justify-content-center mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include "includes/form.html" %}
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Do not have an account? <a href="{% url "signup" %}">Sign up</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
