{% extends 'base.html' %}


{% block content %}

  <div class="container-fluid">
    {% if fail %}
      <h1>{{fail}}</h1>
    {%endif%}
    <div class="row">
      <div class="col-3 p-5">
        <div class="newTopicLink">
          <a style="font-size: x-large;" class="btn btn-outline-primary" href="{% url 'newTopic'%}">Yeni
            Başlık</a>
        </div>
        {% for topic in topics %}
          <p><a href="{% url 'topicEntries' num=topic.pk %}">{{ topic.subject }}</a> ({{ topic.get_entry_set }})</p>
        {% endfor %}
      </div>
      <div class="col-6 p-5 border-right border-left">
        <div class="row">
          <div class="col-12">
            <h1>Yeni Başlık Girişi</h1>
          </div>
        </div>
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' with form=topicForm%}
          {% include 'includes/form.html' with form=entryForm%}
          <button type="submit" class="btn btn-success" style="float: right;">Post</button>
        </form>
        <form>

        </form>
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>

{% endblock content %}
