{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-5">
            <div class="newTopicLink">
                <a style="width:100%;font-size: x-large;" class="btn btn-outline-primary" href="{% url 'newTopic'%}">Yeni
                    Başlık</a>
            </div>
            {% for topic in topics %}
            <p><a href="{% url 'topicEntries' num=topic.pk %}">{{ topic.subject }}</a> ({{ topic.get_entry_set }})</p>
            {% endfor %}
        </div>
        <div class="col-6 p-5 border-right border-left">
            <div class="row">
                <div class="col-12">
                    <h1>{{currentTopic.subject}}</h1>
                </div>
                <div class="col-md-12">
                    {% for ch in channels %}
                    <a>
                        <h7 style="font-style:italic">{{ch.name}}</h7>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="row float-right">
                {% if entries.has_other_pages %}
                <nav aria-label="Topics pagination" class="mb-4">
                    <ul class="pagination">
                        {% if entries.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ entries.previous_page_number }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        {% endif %}

                        {% for page_num in entries.paginator.page_range %}
                        {% if entries.number == page_num %}
                        <li class="page-item active">
                            <span class="page-link">
                              {{ page_num }}
                              <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if entries.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ entries.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>

            {% if entries.paginator.count == 0 %}
            <div>
                <p>
                <h2>Oops</h2>
                </p>
                <p>
                <h6>No entries found.</h6>
                </p>
            </div>
            {% endif %}
            <div style="clear:both;margin-top: 30px;">
                {% for entry in entries %}
                {% include "includes/entry.html" %}
                {% endfor %}
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

{% endblock content %}