{% extends 'base.html' %}
{% block left_frame %}
<div class="border-bottom mb-2 d-flex align-items-center">
  <h5>Kullanıcılar</h5>
  <a class="btn btn-outline-primary mb-2 ml-auto" href="{% url 'newMessage'%}"><h6 class="m-0">Yeni Mesaj</h6></a>
</div>
{% for item in messages %}
  <div class="row" style="border-bottom: 1px solid #80808052; margin-bottom: 5px; padding-bottom: 5px;">
    <div class="col-12">
      <div class="row"><a href="{% url 'messagesRoute' user_id=item.user_id slug=item.target %}">{{ item.text }}</a>
      </div>
      <div class="row" style="float:left;font-weight: 500;font-size: 13px;">{{item.target}}</div>
      <div class="row" style="float:right;font-style: italic;font-size: 12px;">{{item.date}}</div>
    </div>
  </div>
  <script>
     window.messageFilter=function(lastPollTime){
     let cookie = getCookie("csrftoken");
       $.ajax({
        url: "/ajax/messages/get?lastPoll=" + lastPollTime,
        type: "get",
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", cookie);
        }
      }
    }).done(function (result) {
        $("#message-container").append(result);
        scrollToLatest();
    });
  }
  </script>
{% endfor %}
{% endblock left_frame %}

{% block middle_frame %}
  <div class="col-12" style="padding: 0!important;">
    {% if conversationWith %}
    <div class="col-12 conversation-with-header"><span>{{conversationWith.username}} ile çene çalmalar</span>
    </div>
    {% endif %}
    <div style="height: 60vh;overflow-y: auto;">
      <div id="message-container" style="clear:both;margin-top: 30px;">
        {% include "includes/conversation.html" %}
      </div>
    </div>
    {% if conversationWith %}
    <div style="text-align: end;height: 20vh;border-top: 1px solid #0000004f;padding-top: 5px;" class="pt-1">
      <div class="row">
        <div class="col-md-12">
          <textarea class="form-control" placeholder="Type your message.." id="txtMessage"></textarea>
        </div>
        <input type="hidden" id="send_to_id" value="{{conversationWith.pk}}" />
        <div class="col-md-12" style="text-align: end;">
          <button id="btnSendMessage" onclick="sendMessage()" class="form-control">Send</button>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <script>

  </script>
{% endblock middle_frame %}