{% extends 'homepage.html' %}


{% block middle_frame %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">{{ request.user }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
	<ul class="navbar-nav">
	  <li class="nav-item">
            <a class="nav-link" href="{% url 'user_entries' %}">Entries</a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="{% url 'user_votes' %}">Votes</a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="{% url 'user_favorites' %}">Favorites</a>
	  </li>
	</ul>
      </div>
    </nav>

    {% if entries %}
      <h4 class="mb-3 pt-4 pb-4 border-bottom border-top text-center">Entries</h4>
      {% for entry in entries %}
        <h5>{{ entry.topic.subject }}</h4>
        {% include "includes/entry.html" %}
      {% endfor %}
    {% endif %}
    {% if votes %}
      <h4 class="mb-3 pt-4 pb-4 border-bottom border-top text-center">Votes</h4>
      {% for vote in votes %}
        {% with entry=vote.entry %}
          <h5>{{ entry.topic.subject }} -- {{ vote.vote }}</h4>
          {% include "includes/entry.html" %}
        {% endwith %}
      {% endfor %}
    {% endif %}
    {% if favorites %}
      <h4 class="mb-3 pt-4 pb-4 border-bottom border-top text-center">Favorites</h4>
      {% for favorite in favorites %}
        {% with entry=favorite.entry %}
          <h5>{{ entry.topic.subject }}</h4>
          {% include "includes/entry.html" %}
        {% endwith %}
      {% endfor %}
    {% endif %}
    {% include "includes/pagination.html" %}

{% endblock middle_frame %}
